"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "whitespace"
      "linter-phpmd"
    ]
    projectHome: "~/dev/"
    telemetryConsent: "limited"
  docblockr:
    lower_case_primitives: true
    short_primitives: true
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "4a65be8f-c79a-4d47-8460-0328d6b0fddf"
  "file-icons": {}
  linter:
    errorPanelHeight: 75
  "linter-eslint":
    fixOnSave: true
  "linter-phpcs":
    disableWhenNoConfigFile: true
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-stylelint":
    showIgnored: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "project-manager":
    environmentSpecificProjects: true
    savePathsRelativeToHome: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1487133967
  welcome:
    showOnStartup: false
  whitespace: {}
".editorconfig.source":
  editor:
    scrollPastEnd: false
