"*":
  "atom-beautify":
    _analyticsUserId: "99afad7b-7444-488b-a2b6-f6aa0f2f05e0"
    css_convert_quotes: "single"
    css_newline_between_rules: true
    css_no_lead_zero: true
    css_preserve_newlines: true
    html_end_with_newline: true
    js_end_with_newline: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    hideGitIgnoredFiles: true
    projectHome: "~/dev/"
  editor:
    fontFamily: "Hack"
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "go-plus":
    goPath: "~/dev/go"
  "go-rename": {}
  gofmt:
    formatTool: "gofmt"
  linter: {}
  "linter-jscs":
    fixOnSave: true
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-sass-lint":
    noConfigDisable: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    showIcons: true
  welcome:
    showOnStartup: false
