"*":
  "atom-beautify":
    cs:
      beautify_on_save: true
    css:
      convert_quotes: "single"
      newline_between_rules: true
      no_lead_zero: true
      preserve_newlines: true
    general:
      _analyticsUserId: "99afad7b-7444-488b-a2b6-f6aa0f2f05e0"
    html:
      end_with_newline: true
    js:
      end_with_newline: true
      indent_size: 2
      space_after_anon_function: true
    ruby:
      indent_size: 2
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    hideGitIgnoredFiles: true
    projectHome: "~/dev/"
  editor:
    fontFamily: "Hack"
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "go-plus":
    goPath: "~/dev/go"
  "go-rename": {}
  gofmt:
    formatTool: "gofmt"
  linter: {}
  "linter-eslint":
    fixOnSave: true
    lintHtmlFiles: true
  "linter-jscs":
    fixOnSave: true
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-rubocop": {}
  "linter-sass-lint":
    noConfigDisable: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    showIcons: true
  welcome:
    showOnStartup: false
