packages: [
  "angularjs"
  "atom-beautify"
  "atom-ternjs"
  "atom-wrap-in-tag"
  "autocomplete-go"
  "builder-go"
  "color-picker"
  "docblockr"
  "editorconfig"
  "emmet"
  "file-icons"
  "go-config"
  "go-get"
  "go-plus"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "language-diff"
  "language-docker"
  "language-gitignore"
  "language-nginx"
  "language-viml"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-flow"
  "linter-jscs"
  "linter-jshint"
  "linter-rubocop"
  "linter-ruby"
  "linter-sass-lint"
  "linter-shellcheck"
  "minimap"
  "navigator-godef"
  "package-sync"
  "pigments"
  "project-manager"
  "react"
  "sort-lines"
  "ssh-config"
  "tester-go"
  "todo-show"
  "toggle-quotes"
]
