packages: [
  "atom-beautify"
  "atom-wrap-in-tag"
  "autocomplete-go"
  "builder-go"
  "color-picker"
  "editorconfig"
  "file-icons"
  "go-config"
  "go-get"
  "go-plus"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "language-diff"
  "language-docker"
  "linter"
  "linter-ruby"
  "native-ui"
  "navigator-godef"
  "package-sync"
  "sort-lines"
  "tester-go"
]
